*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: auto;
}

.main-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom right, #fff, #f5f5f5);
}

/* Botão de menu */
.toggle-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  background-color: #3066BE;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Sidebar retrátil */
.sidebar {
  height: 100%;
  background: linear-gradient(180deg, #507fca, #5C5C5C);
  color: #000;
  padding: 5rem 20px;
  transition: transform 0.3s ease-in-out;
  width: 220px;
  position: fixed;
  top: 64px;
  bottom: 0;
  height: auto;
  left: 0;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.20);
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.open ~ .dashboard {
  margin-left: 240px;
}

.sidebar h3 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sidebar li:hover {
  transform: scale(1.06);
  background-color: #c0c3c7;
  color: #fff;
}

.sidebar li button {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
}

/* Dashboard */
.dashboard {
  flex: 1;
  padding: 60px 40px;
  transition: margin-left 0.3s ease-in-out;
  width: 100%;
  overflow-y: auto;
  min-height: 100vh;
}

.dashboard.expand {
  margin-left: 0;
}

.dashboard h2 {
  margin-bottom: 30px;
  color: #3066BE;
}

.dashboard h3 {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #3066BE;
  font-weight: 600;
}

/* Box dos gráficos */
.grafico-box {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.grafico-box h3{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header */
.main-header {
  background-color: #e4e4e4;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo-img-main {
  height: 50px;
  object-fit: contain;
  display: block;
  transition: transform 0.2s;
  background-color: #0000004e;
  border-radius: 8px;
  padding: 2px;
}

.logo-img-main:hover {
  transform: scale(1.05);
}
