.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-button {
  background-color: #3066BE;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.add-button:hover {
  background-color: #507fca;
  transform: scale(1.05);
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.stock-table th,
.stock-table td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.stock-table th {
  color: #3066BE;
  background-color: #f5f5f5;
}

.stock-table tr:last-child td {
  border-bottom: none;
}

.stock-table tr:hover td {
  background-color: #f0f8ff;
  transition: background-color 0.3s ease;
}

.edit-button {
  background-color: #3066BE;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.edit-button:hover {
  background-color: #507fca;
  transform: scale(1.05);
}

.stock-row {
  position: relative;
}

.gear-btn {
  position: static;
  right: 10px;
  top: 50%;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #3066BE;
  padding: 4px;
  z-index: 1;
  transition: transform 0.2s ease, color 0.2s;
}

.gear-btn:hover {
  transform: scale(1.2);
  color: #507fca;
}

.menu-opcoes {
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 999;
  min-width: 120px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  gap: 8px;
}

.menu-opcoes div {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  white-space: nowrap;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  color: #3066BE;
}

.menu-opcoes div:hover {
  background-color: #e4e4e4;
  color: #000;
}

.menu-opcoes button {
  width: 120px;
  padding: 8px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #e4e4e4;
  transition: background-color 0.2s, color 0.2s;
  color: #000;
}

.menu-opcoes button:hover {
  background-color: #c0c3c7;
  color: #fff;
}

.modal-box.erro {
  border: 2px solid red;
  background-color: #ffe5e5;
  color: #b00000;
}

.btn-confirmar {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-confirmar:hover {
  background-color: #c9302c;
}

.btn-cancelar {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-cancelar:hover {
  background-color: #5a6268;
}

.botoes-confirmacao {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 15px;
}

.botoes-confirmacao button {
  width: 100px;
  padding: 8px 0;
}

.stock-table td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
